#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}
@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

.nav_menu {
  padding: 0;
  display: block;
}
.nav_menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav_menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav_menu a,
.nav_menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

/* .nav_menu a i,
.nav_menu a:focus i {
  font-size: 20px;
} */
/* 
.icon,
.icon:focus {
  height: 20px;
  width: 20px;
} */

/* .nav_menu a svg .nav_menu a:focus svg {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
} */

.nav_icons {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}

/* .icons {
  color: #45505b;
} */

.nav_menu a span,
.nav_menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}
@media (min-width: 992px) {
  .nav_menu a,
  .nav_menu a:focus {
    width: 56px;
  }
  .nav_menu a span,
  .nav_menu a:focus span {
    display: none;
    color: #fff;
  }
}
.nav_menu a:hover,
.nav_menu .active,
.nav_menu .active:focus,
.nav_menu li:hover > a {
  color: #fff;
  background: #0563bb;
}
.nav_menu a:hover span,
.nav_menu .active span,
.nav_menu .active:focus span,
.nav_menu li:hover > a span {
  color: #fff;
}
.nav_menu a:hover,
.nav_menu li:hover > a {
  width: 100%;
  color: #fff;
}
.nav_menu a:hover span,
.nav_menu li:hover > a span {
  display: block;
}

.mobile-nav-toggle {
  position: fixed;
  right: 30px;
  top: 25px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
}
.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}
.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #0563bb;
}
