.nav_menu {
  padding: 0;
  display: block;
}
.nav_menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav_menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav_menu a,
.nav_menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.nav_menu a i,
.nav_menu a:focus i {
  font-size: 20px;
}
.nav_menu a span,
.nav_menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}
@media (min-width: 992px) {
  .nav_menu a,
  .nav_menu a:focus {
    width: 56px;
  }
  .nav_menu a span,
  .nav_menu a:focus span {
    display: none;
    color: #fff;
  }
}
.nav_menu a:hover,
.nav_menu .active,
.nav_menu .active:focus,
.nav_menu li:hover > a {
  color: #fff;
  background: #0563bb;
}
.nav_menu a:hover span,
.nav_menu .active span,
.nav_menu .active:focus span,
.nav_menu li:hover > a span {
  color: #fff;
}
.nav_menu a:hover,
.nav_menu li:hover > a {
  width: 100%;
  color: #fff;
}
.nav_menu a:hover span,
.nav_menu li:hover > a span {
  display: block;
}
